* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: #4a3418;
  text-decoration: none;
}

main {
  background-color: #fff9f0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #f3f0edef;
  border: 1px solid #4a341823;
  backdrop-filter: blur(18px);
  box-shadow: 0 1px 3px 0 #0000001a;
}

.img-logo {
  height: 80px;
}

.ul-nav {
  display: flex;
  list-style: none;
  gap: 2rem;
  transition-duration: 0.5s;
  font-family: "Inter", sans-serif;
}

.ul-nav a:hover {
  color: #d4af37;
}

.btn-carrinho {
  background-color: #4a3418;
  border-radius: 16px;
  padding: 9px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-carrinho>i {
  background-color: transparent;
}

.btn-carrinho>span {
  background: transparent;
  color: beige;
}

.btn-carrinho:hover {
  background-color: #d4af37;
  cursor: default;
}

.btn-carrinho:hover>.fa-solid.fa-cart-shopping {
  color: #4a3418;
  transition-duration: 0.5s;
}

.btn-carrinho:hover>span {
  color: #4a3418;
}

.fa-solid.fa-cart-shopping {
  color: #f8f8f8;
}

.section-banner {
  background-image: url("assets/brownie-banner.png");
  background-size: cover;
  background-position: center;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 140px;
  gap: 30px;
  position: relative;
  font-family: "Inter", sans-serif;
}

.div-banner {
  position: absolute;
  background-color: #0000008a;
  width: 100%;
  height: 100%;
  top: 0;
}

.section-banner h1,
.section-banner h2,
.section-banner a {
  background-color: transparent;
  color: #efebe6;
  font-family: "Playfair", serif;
  z-index: 1;
}

.section-banner h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.7;
  width: 17ch;
}

.section-banner h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.section-banner a {
  font-size: 1rem;
  font-weight: 700;
  background-color: #4a3418;
  padding: 16px 26px;
  border-radius: 32px;
  transition-duration: 0.5s;
}

.section-banner a:hover {
  background-color: #2d1e16;
  color: #fffaf4;
  cursor: default;
  transform: scale(1.05);
}

.section-sobrenos {
  display: flex;
  justify-content: space-between;
  padding: 64px 100px;
  gap: 100px 64px;
  line-height: 1.5;
}

.section-sobrenos img {
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
}

.sobre-nos-texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-weight: 270;
  font-family: "Inter", sans-serif;
}

.titulo-sobre-nos {
  font-size: 48px;
  font-weight: 200;
  line-height: 1.2;
  font-family: "Playfair display", serif;
}

.linha-sobre-nos, .linha-avaliacoes{
  background-image: linear-gradient(to right, #d4af37, #4a3428);
  height: 4px;
  width: 100px;
  border-radius: 16px;
}

.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 64px 100px;
}

.titulo-produtos {
  font-size: 48px;
  font-weight: 200;
  line-height: 1.2;
  font-family: "Playfair display", serif;
}

.descricao-produtos {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  width: 73ch;
  font-weight: 270;
}

.linha-produtos {
  background-image: linear-gradient(to right, #4a3428, #d4af37);
  height: 4px;
  width: 100px;
  border-radius: 16px;
}

.div-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.div-card-produto,
.div-card-produto img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.div-card-produto {
  background-color: #fff;
  max-width: 400px;
  min-height: 240px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  transition-duration: 0.5s;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding-bottom: 18px;
  position: relative;
}

.div-card-produto img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 16px;
  display: block;
  object-fit: cover;
  transition: transform 0.4s;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.div-img-yellow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 180px;
  width: 100%;
  background: linear-gradient(to top, #d4af3754, #d4af3700);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4,0,1,1), height 0.4s;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.div-img-yellow:hover {
  background-color: linear-gradient(to top, #d4af3741, #d4af3700);
}

.div-card-produto:hover .div-img-yellow {
  opacity: 1;
  height: 190px;
  transition: opacity 0.7s cubic-bezier(0,0,0.2,1), height 0.4s;
}

.div-card-produto button {
  background-color: #4a3418;
  border: none;
  border-radius: 70px;
  color: #fff;
  padding: 12px 16px;
  transition: background-color 0.3s;
  font-family: "Inter", sans-serif;
  margin-top: 2px;
  margin-bottom: 0; 
  align-self: center;
  width: 86%; 
}

.div-card-produto button:hover {
  background-color: #d4af37;
  color: #2d1e16;
}

.div-card-produto:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.207);
}

.div-card-produto:hover img {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.produto-info {
  flex: 1;
  padding: 20px 26px 10px 26px;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #4a3418;
}

h3 {
  font-family: "Playfair display", serif;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.2;
}

.clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 64px 100px;
}

.titulo-avaliacoes {
  font-size: 48px;
  font-weight: 200;
  line-height: 1.2;
  font-family: "Playfair display", serif;
}

.descricao-avaliacoes {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  width: 73ch;
  font-weight: 270;
}

.div-depoimentos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.copyrights{
  text-align: center;
  font-size: 16px;
  color: #4a3418;
}